@charset "utf-8";

@media (max-width: 768px) {
  
  
}

@media (max-width:1500px) {
  .total_search_container {padding-top: 80px;}
  .sub_container {padding-top: 140px;}
}



@media (max-width:1070px) {

  /* 통합검색 */
  .total_search_area .inner {padding: 60px 40px;}
  .total_search_result {gap: 40px;}
  .total_search_form {margin-top: 20px;}
  .total_search_form .search_bar .search_input {padding: 18px; height: 60px;}
  .total_search_form .search_btn {right: 18px;}
  .total_search_form .search_del::before {width:36px; height: 36px; }
  .total_result_area {padding-top: 40px; }
  .total_result_area .inner {gap: 20px 40px;}

  /* 회의록 */
  .search-form-line .form_line.bottom {flex-direction: column;}
  .search-form-line .label {min-width: 62px;}

}

@media (max-width: 768px) {    

  /* 통합검색 */
  .total_search_container .cont_wrap {padding-top: 40px;}
  .total_search_result {flex-direction: column; gap: 20px;}
  .total_search_form {max-width: unset;}
  .total_search_form .search_bar .search_input {height: 60px; font-size: 20px; padding: 16px}
  .total_search_form .search_bar .search_input::placeholder {font-size: 20px;}
  .total_search_form .search_btn img {width:36px; height: 36px;}
  .total_search_form .search_btn {right: 16px;}
  .total_search_form .search_del {right: 60px;}
  .total_search_form .search_del img {width: 32px; height: 32px;}     

  .total_result_area {padding-top: 20px;}
  .total_result_area .inner { flex-direction: column; }
  .total_filter {width: 100%;}
  .total_filter .popular_keywords {padding: 20px 30px;}

  .total_results { width: 100%; }
  .total_result_heading {font-size:24px; font-weight: 500;}
  
  /* 회의록 */
  .search-form-line .form_line, 
  .minutes-search-container,
  .attendee_row { flex-direction: column; }
  .form_unit, .btn_wrap { width: 100%; }
  .btn_wrap { justify-content: flex-start; margin-top: 4px; }

    
}

@media (max-width: 570px) {
    .search-form-line .fieldset_group {height: auto;}
    .datepicker_group {flex-direction: column;}
}

@media (max-width: 370px) {
    .minutes-search-container {padding: 16px;}
    .search-form-line .fieldset_group {flex-direction: column; align-items: baseline;}
    .datepicker_group, .datepicker_inp {width: 100%;}
}


/* 수정 */
.chk_label {display: inline-block; width: 22px; height: 22px; background: url(../images/sub/radio_sq.png); margin-right: 6px;}
.custom_chk:checked + .chk_label {background: url(../images/sub/radio_sq_chk.png);}
.custom_chk:focus + .chk_label {outline:2px dashed #6d7882; border:none !important}

/* 팝업추가 */
.layer_cont2 {position:absolute; top:50%; left:50%; width:100%; max-width:1200px; height:auto; max-height:90%; padding:40px; border-radius:30px; background:#fff; transform:translate(-50%, -50%); box-sizing:border-box; line-height: 1.4; display: flex; flex-direction: column;}
.layer_cont2 .pop_head {position: relative; margin-bottom:20px; font-size: 22px; font-weight: 500;}
.layer_cont2 .pop_body {overflow-y:auto; position: relative; font-size: 20px; flex: 1; display: flex; flex-direction: column;}
.layer_cont2 .pop_footer {position: fixed; bottom: 40px; left: 0; right: 0;}

/* 탭 - 통합검색 */
.tab_style05 .tab_list {display: flex; gap: 0; flex-wrap: wrap;}
.tab_style05 .tab_list > li {flex: 1 ; position: relative; min-width: 140px;}
.tab_style05 .tab_list > li:not(:first-child) {margin-left: -1px;}
.tab_style05 .tab_list > li > a {font-size:18px; font-weight: 500; padding: 20px 0; display: block; text-align: center; position: relative; overflow: hidden; background-color: #f7f8f9; border: 1px solid #d9e0ef;}
.tab_style05 .tab_list > li:hover > a, 
.tab_style05 .tab_list > li:focus > a, 
.tab_style05 .tab_list > li:active > a,
.tab_style05 .tab_list > li.on > a {color: #fff;; background-color:#0f298f; border-color: #0f298f; z-index: 1;}




